footer {
  color: #113f67;
}

footer p {
  text-align: center;
}

.content-tile {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  padding: 1em;
}

body {
  background-color: #e7eaf6;
}

header {
  text-align: center;
  border-bottom: solid 1px;
  border-bottom-color: #a2a8d3;
  color: #113f67;
}

article {
  border-radius: 0.3em;
  margin-top: 1em;
  padding: 1em;
  border: 1px solid;
  border-color: #113f67;
}

.playlist a {
  text-decoration: none;
  color: #113f67;
  font-weight: bold;
}

.playlist a:hover {
  text-decoration: underline;
}

.playlist a:visited {
  color : #38598b;
}

.main-title h1 {
  font-size: larger;
}

@media only screen and (min-width: 30em) {
  main {
    margin-left: 3em;
    margin-right: 3em;
  }

  .main-title h1 {
    padding-left: 3em;
  }
  .main-title {
    text-align: left;
  }
}
