@import 'colors';

footer {
  color: $text-color;
  p {
    text-align: center;
  }
}

.pure-g > header, .pure-g > section , .pure-g > article {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  padding-left: 1em;
  padding-top: 1em;
}

body {
  background-color: $main-color;
}

header {
  text-align: center;
  border-bottom: solid 1px;
  border-bottom-color: $border-color;
  color: $text-color;
  a {
    text-decoration: none;
    color: $text-color;
  }
  a:visited {
    color: $text-color;
  }
}

article {
  border-radius: 0.3em;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  padding: 1em;
  border: 1px solid;
  border-color: $border-color;
}

.card{
  a {
    text-decoration: none;
    color: $text-color;
    font-weight: bold;
  }

  a:hover {
    text-decoration: underline;
  }

  a:visited {
    color : #38598b;
  }
}
.card:hover {
  background-color: $secondary-color;
  color: $main-color
}

.main-title {
  text-align: center;
  h1 {
    font-size: larger;
  }
}

.centered {
  text-align: center;
}

.video-container {
  max-height: 60vh;
  overflow-y: scroll;
}

@media only screen and (min-width: 900px) {
  header {
    text-align: left;
  }
  main {
    padding-left: 3em;
    padding-right: 3em;
  }
}
