footer {
  color: #113f67; }
  footer p {
    text-align: center; }

.pure-g > * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em; }

body {
  background-color: white; }

header {
  text-align: center;
  border-bottom: solid 1px;
  border-bottom-color: #0c084c;
  color: #113f67; }

article {
  border-radius: 0.3em;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  padding: 1em;
  border: 1px solid;
  border-color: #0c084c; }

.playlist a {
  text-decoration: none;
  color: #113f67;
  font-weight: bold; }

.playlist a:hover {
  text-decoration: underline; }

.playlist a:visited {
  color: #38598b; }

.playlist:hover {
  background-color: #e6e7e5;
  color: white; }

.main-title {
  text-align: center; }
  .main-title h1 {
    font-size: larger; }

@media only screen and (min-width: 30em) {
  header {
    text-align: left; }
  main {
    padding-left: 3em;
    padding-right: 3em; } }
