{% extends 'ui/base.html'%}
{% load staticfiles %}
{% block content %}
<section class="pure-u-1 pure-u-sm-1-2">
  <header>
    <h2><i class="fas fa-users"></i> Let's Share YouTube !</h2>
  </header>
  <article>
    <p>Welcome on LSY ! Here you can create anonymous, collaborative and ephemeral YouTube playlists.</p>

    <a href="new/" class="pure-button"><i class="fas fa-plus"></i> New Playlist</a>
  </article>
  <article>
    <p>If you wish to edit your playlist's settings after creation and use advanced features, you need to register. Don't worry, it's entirely free !</p>
    <div class="pure-button-group" role="group" aria-label="login-buttons">
      <a href="#" class="pure-button"><i class="fas fa-sign-in-alt"></i> Sign In</a>
      <a href="#" class="pure-button"><i class="fas fa-user-plus"></i> Sign Up</a>
    </div>
  </article>
</section>
<section class="pure-u-1 pure-u-sm-1-2">
    <header>
      <h2><i class="fas fa-broadcast-tower"></i> Currently on air</h2>
    </header>
    <p v-if="playlists.length <= 0">
      Nothing, sorry :'(
    </p>
    <article
      v-else
      v-for="playlist in playlists"
      class="card"
    ><a v-bind:href="'p/' + playlist.token"><i class="fas fa-play-circle"></i> [[ playlist.title ]] <span v-if="!playlist.is_anonymous">by [[playlist.owner]]</span></a></article>
</section>

{% endblock %}
{% block script %}
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}
