@import 'colors';

footer {
  color: $text-color;
  p {
    text-align: center;
  }
}

.pure-g > * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  padding: 1em;
}

body {
  background-color: $main-color;
}

header {
  text-align: center;
  border-bottom: solid 1px;
  border-bottom-color: $border-color;
  color: $text-color;
}

article {
  border-radius: 0.3em;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  padding: 1em;
  border: 1px solid;
  border-color: $border-color;
}

.playlist{
  a {
    text-decoration: none;
    color: #113f67;
    font-weight: bold;
  }

  a:hover {
    text-decoration: underline;
  }

  a:visited {
    color : #38598b;
  }
}

.main-title {
  text-align: center;
  h1 {
    font-size: larger;
  }
}

@media only screen and (min-width: 30em) {
  header {
    text-align: left;
  }
  main {
    padding-left: 3em;
    padding-right: 3em;
  }
}
